@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    overflow: hidden;
}

.ale {
    width: 200;
    height: 200px;
    margin-left: -65%;
    margin-top: 5%;
}


textarea {
    margin-top: 2%;
    width: 500px;
    height: 250px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 20px;
}

button {
    margin-top: 30px;
    width: 100px;
    height: 100%;
    color: #000;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 20px;
}

button:hover {
    background-color: yellow ;
    color: #000;
}

@media(max-width: 420px) {
    .ale {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1%;
    }
}

@media(max-width: 717px) {
    .ale {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0%;
    }
}

@media(max-width: 1125px) {
    .ale{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0%;
    }
}